body {
	background-color: #20232a;
	color: #ffffff;
}
.card-orange {
	background: none !important;
	border: 2px solid rgb(255, 125, 48);
	width: 50%;
	height: auto;
	text-align: center;
	padding: 20px;
}
